*.idea
wxbill/*.idea
wxbill/**/*.__pycache__/**/*.pyc
*.pyc
wxbill/pay_type/migrations/0002_auto_20210316_2257.py
wxbill/pay_type/migrations/0001_initial.py
wxbill/my_auth/migrations/0001_initial.py
wxbill/bill/migrations/0001_initial.py
wxbill/bill/migrations/0002_auto_20210317_2231.py
