{% extends 'wxbill/base.html' %}

{% block content %}

<div class="page-hd">
    <h1 class="page-hd-title">支出分类列表</h1>
    <p class="page-hd-desc">显示用户建立的所有有效支出分类</p>
</div>
<div class="page-bd">
{% if pay_type_list %}
    <ul class="collapse">
    {% for pay_type in pay_type_list %}
        <li>
            <div class="weui-flex js-category open-popup" data-target="#child" onclick="get_child_pay_type({{ pay_type.id }})">
                <div class="weui-flex__item">分类名称：{{ pay_type.name }}</div>
                <i class="icon icon-83"></i>
            </div>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <div class="weui-flex" style="height: 50px;text-align: center; line-height: 50px;">
        <div class="weui-flex__item">
            <h3>没有记录</h3>
        </div>
    </div>
{% endif %}
</div>
<div class="page-bd-15">
    <a class="weui-btn weui-btn_default" href="{% url 'pay_type:to_add_pay_type' %}">添加支出分类</a>
</div>


<div id="child" class="weui-popup__container popup-bottom" style="z-index: 550;">
    <div class="weui-popup__overlay"></div>
    <div class="weui-popup__modal">
        <div class="toolbar">
            <div class="toolbar-inner">
                <a href="javascript:;" class="picker-button close-popup">关闭</a>
                <h1 class="title">标题</h1>
            </div>
        </div>
        <div class="modal-content">
            <div class="weui-cells weui-cells_form" id="child_content">
            </div>
        </div>
    </div>
</div>

<!-- 底部导航条 -->
<div class="weui-tabbar tab-bottom">
    <a class="weui-tabbar__item" href="{% url 'charts:to_index' %}">
        <span style="display: inline-block; position: relative;">
            <i class="icon icon-67 f67 weui-tabbar__icon"></i>
        </span>
        <p class="weui-tabbar__label">统计</p>
    </a>
    <a class="weui-tabbar__item" href="{% url 'bill:to_index' %}">
        <span style="display: inline-block; position: relative;">
            <i class="icon icon-71 f71 weui-tabbar__icon"></i>
        </span>
        <p class="weui-tabbar__label">账单</p>
    </a>
    <a class="weui-tabbar__item" href="{% url 'pay_type:to_list' %}">
        <span style="display: inline-block; position: relative;">
            <i class="icon icon-33 f33 weui-tabbar__icon" style="color: #009788;"></i>
        </span>
        <p class="weui-tabbar__label">支出分类</p>
    </a>
</div>

{% endblock %}

{% block jsblock %}
<script type="text/javascript">
function get_child_pay_type(p_id) {
    $.ajax({
        url: '{% url 'pay_type:get_child_pay_type_list' %}',
        type: 'post',
        data: {
            "p_id": p_id
        },
        success: function (result) {
            let innerHtml = "";
            if (result.length > 0) {
                $.each(result, function (index, val) {
                    innerHtml += '<div class="weui-cell">' +
                        '<div class="weui-cell__hd">' +
                        '<label class="weui-label">分类名称</label>' +
                        '</div><div class="weui-cell__bd"><label class="weui-label">' + val.name + '</label></div></div>';
                });
            } else {
                innerHtml += '<div class="weui-cell><label class="weui-label">暂无分类</label></div>'
            }
            innerHtml += '<div class="weui-cell"></div>';
            $("#child_content").html(innerHtml);
        }
    });
}
</script>
{% endblock %}