{% extends 'wxbill/base.html' %}

{% block content %}

<div class="page-hd">
    <h1 class="page-hd-title">添加账单</h1>
    <div class="weui-cells weui-cells_form">
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">名称</label>
            </div>
            <div class="weui-cell__bd">
                <input id="name" class="weui-input" placeholder="请输入账单名称">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">日期</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" id="bill_date" type="text" readonly>
            </div>
        </div>
        <div class="weui-cell weui-cell_select">
            <div class="weui-cell__hd">
                <label class="weui-label" style="padding-left: 15px;">一级分类</label>
            </div>
            <div class="weui-cell__bd">
                <select id="p_pay_type" class="weui-select" style="margin-left: -15px;" onchange="change_p_pay_type()">
                    {% if p_pay_type_list %}
                        <option selected value="0">请选择一级分类</option>
                        {% for p_pay_type in p_pay_type_list %}
                            <option value="{{ p_pay_type.id }}">{{ p_pay_type.name }}</option>
                        {% endfor %}
                    {% else %}
                        <option selected value="-1">没有分类</option>
                    {% endif %}
                </select>
            </div>
        </div>
        <div class="weui-cell weui-cell_select" id="child_pay_type" style="display: none;">
            <div class="weui-cell__hd">
                <label class="weui-label" style="padding-left: 15px;">二级分类</label>
            </div>
            <div class="weui-cell__bd">
                <select id="pay_type" class="weui-select" style="margin-left: -15px;">
                </select>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">金额</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" id="price">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">备注</label>
            </div>
            <div class="weui-cell__bd">
                <textarea id="description" class="weui-textarea" placeholder="请输入不多于100字备注信息,可不填" rows="5">
                </textarea>
            </div>
        </div>
    </div>
    <div class="page-bd-15">
        <a class="weui-btn weui-btn_primary" onclick="save()">保存</a>
        <a class="weui-btn weui-btn_warn" id="cancel">取消</a>
    </div>
</div>

{% endblock %}

{% block jsblock %}
<script type="text/javascript">
<!-- 页面载入时获取当天日期 -->
$().ready(function () {
    const date = new Date();
    const year = date.getFullYear();
    const month = (date.getMonth() + 1) < 10 ? '0' + (date.getMonth() + 1) : date.getMonth();
    const day = date.getDate() < 10 ? '0' + date.getDate() : date.getDate();
    const today = year + '-' + month  + '-' + day;
    $('#bill_date').val(today);
});

// 时间选择控件
$("#bill_date").datetimePicker({
    title: '账单日期',
    times:function(){return [];},
    parse:function(str){
        return str.split("-");
    },
    onChange: function (picker, values, displayValues) {
        console.log(values);
    }
});

// 点击取消时进行确认 确认后返回到账单列表页面
$(document).on("click", "#cancel", function () {
    $.confirm("是否返回到列表页?", "是否返回", function () {
        window.location.href = "{% url 'bill:to_index' %}";
    }, function () {});
});

// 选择一级分类后根据选择的值显示二级分类
function change_p_pay_type() {
    let innerHtml = "";
    let p_pay_type = $("#p_pay_type").val();
    if (p_pay_type == 0) {
        innerHtml += '<option selected value="0">请选择二级分类</option>';
        $("#pay_type").html(innerHtml);
        $("#child_pay_type").hide();
        return;
    }
    $.ajax({
        url: '{% url 'pay_type:get_child_pay_type_list' %}',
        type: 'POST',
        data: {
            "p_id": p_pay_type
        },
        success: function (result) {
            innerHtml += '<option selected value="0">请选择二级分类</option>';
            if (result.length > 0) {
                $.each(result, function (index, val) {
                    innerHtml += '<option value="' + val.id + '">' + val.name + '</option>';
                });
                $("#child_pay_type").show();
            } else {
                $("#child_pay_type").hide();
            }
            $("#pay_type").html(innerHtml);
        }
    });
}

// 保存方法
function save() {
    let name = $("#name").val().trim(' ');
    if (name.length == 0) {
        $.alert("请输入账单名称!");
        return;
    }
    let bill_date = $("#bill_date").val();
    if (bill_date.length == 0) {
        $.alert("请选择账单日期!");
        return;
    }
    let pay_type_id = $("#pay_type").val();
    if (pay_type_id == null || pay_type_id == 0) {
        $.alert("请选择二级账单分类");
        return;
    }
    let price = $("#price").val();
    if (price.length == 0) {
        $.alert("请输入账单金额!");
        return;
    }
    let description = $("#description").val();
    if (description.length > 100) {
        $.alert("备注过长!");
        return;
    }
    $.ajax({
        url: "{% url 'bill:save_bill' %}",
        type: "POST",
        data: {
            "name": name,
            "bill_date": bill_date,
            "pay_type_id": pay_type_id,
            "price": price,
            "description": description
        },
        success: function (result) {
            if (result.code == 0) {
                $.alert('保存成功', '提示', function () {
                    window.location.href = "{% url 'bill:to_index' %}";
                });
            } else {
                $.alert("保存错误,请重试!");
            }
        }
    });
}
</script>
{% endblock %}