{% extends 'wxbill/base.html' %}

{% block content %}
<div class="page-hd">
    <h1 class="page-hd-title">账单列表 {{ today }}</h1>
    <p class="page-hd-desc">默认显示当天记录账单信息</p>
    <ul class="weui-payrec">
    {% if bill_list %}
        {% for bill in bill_list %}
        <div class="weui-pay-m">
            <li class="weui-pay-order" id="{{ bill.id }}">
                <dl class="weui-pay-line">
                    <dd class="weui-pay-name">{{ bill.name }}</dd>
                    <dt class="weui-pay-label">账单分类:</dt>
                    <dd class="weui-pay-e">{{ bill.pay_type.name }}</dd>
                </dl>
                <dl class="weui-pay-line">
                    <dt class="weui-pay-label">账单日期:</dt>
                    <dd class="weui-pay-e">{{ bill.bill_date }}</dd>
                </dl>
                <dl class="weui-pay-line">
                    <dt class="weui-pay-label">账单金额:</dt>
                    <dd class="weui-pay-e">￥{{ bill.price }}</dd>
                </dl>
                <div class="weui-pay-area">
                    <a href="javascript:;" class="weui-pay-v">删除账单</a>
                </div>
            </li>
        </div>
        {% endfor %}
    {% else %}
        <div class="weui-flex" style="height: 50px;text-align: center; line-height: 50px;">
            <div class="weui-flex__item">
                <h3>没有记录</h3>
            </div>
        </div>
    {% endif %}
    </ul>
    <a class="weui-btn weui-btn_default" href="{% url 'bill:to_add_bill' %}">添加账单</a>
</div>

<!-- 底部导航条 -->
<div class="weui-tabbar tab-bottom">
    <a class="weui-tabbar__item" href="{% url 'charts:to_index' %}">
        <span style="display: inline-block; position: relative;">
            <i class="icon icon-67 f67 weui-tabbar__icon"></i>
        </span>
        <p class="weui-tabbar__label">统计</p>
    </a>
    <a class="weui-tabbar__item" href="{% url 'bill:to_index' %}">
        <span style="display: inline-block; position: relative;">
            <i class="icon icon-71 f71 weui-tabbar__icon" style="color: #009788;"></i>
        </span>
        <p class="weui-tabbar__label">账单</p>
    </a>
    <a class="weui-tabbar__item" href="{% url 'pay_type:to_list' %}">
        <span style="display: inline-block; position: relative;">
            <i class="icon icon-33 f33 weui-tabbar__icon"></i>
        </span>
        <p class="weui-tabbar__label">支出分类</p>
    </a>
</div>
{% endblock %}

{% block jsblock %}
{% endblock %}