{% extends 'wxbill/base.html' %}

{% block content %}
<div class="page-hd">
    <h1 class="page-hd-title">账单列表 {{ today }}</h1>
    <p class="page-hd-desc">默认显示当天记录账单信息</p>
    <ul class="weui-payrec" id="list">
        {% for bill in bill_list %}
        <div class="weui-pay-m" id="{{ bill.id }}">
            <li class="weui-pay-order">
                <dl class="weui-pay-line">
                    <dd class="weui-pay-name">{{ bill.name }}</dd>
                    <dt class="weui-pay-label">账单分类:</dt>
                    <dd class="weui-pay-e">{{ bill.pay_type.parent_pay_type.name }}--{{ bill.pay_type.name }}</dd>
                </dl>
                <dl class="weui-pay-line">
                    <dt class="weui-pay-label">账单日期:</dt>
                    <dd class="weui-pay-e">{{ bill.bill_date }}</dd>
                </dl>
                <dl class="weui-pay-line">
                    <dt class="weui-pay-label">账单金额:</dt>
                    <dd class="weui-pay-e">￥{{ bill.price }}</dd>
                </dl>
                <div class="weui-pay-area">
                    <a class="weui-btn weui-btn_mini bg-gray f-black" onclick="delete_bill({{ bill.id }})">删除账单</a>
                </div>
            </li>
        </div>
        {% endfor %}
    </ul>
    <div id="msg"></div>
    <a class="weui-btn weui-btn_plain-primary" href="{% url 'bill:to_add_bill' %}">+添加账单</a>
</div>

<!-- 底部导航条 -->
<div class="weui-tabbar tab-bottom">
    <a class="weui-tabbar__item" href="{% url 'charts:to_index' %}">
        <span style="display: inline-block; position: relative;">
            <i class="icon icon-67 f67 weui-tabbar__icon"></i>
        </span>
        <p class="weui-tabbar__label">统计</p>
    </a>
    <a class="weui-tabbar__item" href="{% url 'bill:to_index' %}">
        <span style="display: inline-block; position: relative;">
            <i class="icon icon-71 f71 weui-tabbar__icon" style="color: #009788;"></i>
        </span>
        <p class="weui-tabbar__label">账单</p>
    </a>
    <a class="weui-tabbar__item" href="{% url 'pay_type:to_list' %}">
        <span style="display: inline-block; position: relative;">
            <i class="icon icon-33 f33 weui-tabbar__icon"></i>
        </span>
        <p class="weui-tabbar__label">支出分类</p>
    </a>
</div>
{% endblock %}

{% block jsblock %}
<script type="text/javascript">
$(function () {
    get_li_len()
});
// 判断列表是否为空 增加提示
function get_li_len() {
    let li_len = $("#list li").length;
    console.log(li_len);
    if (li_len == 0) {
        $("#msg").css({"height": "50px", "text-align": "center", "line-height": "50px"});
        $("#msg").html("<h3>没有记录</h3>");
    }
}
// 删除账单
function delete_bill(id) {
    $.confirm("是否删除该记录？", "提示", function () {
        $.ajax({
            url: '{% url 'bill:delete_bill' %}',
            type: 'POST',
            data: {
                "id": id
            },
            success: function (result) {
                if (result.code == 2) {
                    $.alert("记录不存在!");
                } else if (result.code == 1) {
                    $.alert("删除出错，请重试!");
                } else {
                    $.alert("删除成功!");
                    $("#" + id).remove();
                    get_li_len();
                }
            }
        });
    }, function () {});
}
</script>
{% endblock %}